body {
    font-family: sans-serif;
}

html, body, #__next {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

* {
  font-family: 'Raleway'
}

.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.App > .Content {
    width: 100%;
    height: 100%;
    padding: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn {
  color: #ffffff;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  min-width: 250px;
  text-transform: uppercase;
}

.btn-success {
  background-color: #27ae60;
}

.btn-danger {
  background-color: #eb5757;
}

.right {
  float: right;
}

.left {
  float: left;
}

input.text-field {
  border: none;
  background-color: #efefef;
  display: block;
  min-height: 24px;
  padding: 2px 8px;
  margin: 10px 0px;
  font-size: 14px;
}

.upload-container {
  background-color: #c4c4c4;
  margin: 10px 0px;
  min-height: 437px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.container {
  padding: 0px 70px;
}
