.filters h2 {
  margin-right: 20px;
}

.sort {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.sort h2 {
  margin-right: 20px;
}

.table {
  width: 90%;
  margin-top: 20px;
  border-spacing: 2px;
  text-align: center;
}

.roster {
  width: fit-content;
}

.th {
  background-color: rgba(128, 128, 128, 0.39);
  width: 200px;
}

.td {
  background-color: rgba(128, 128, 128, 0.39);
  text-align: center;
  width: fill;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tr:nth-child(even) {
  background-color: #efefef;
}
.bustable {
  border-spacing: 2px;
  margin-bottom: 0.5vh;
}

.busth {
  width: 202px;
  background-color: rgba(0, 0, 255, 0.349);
  color: white;
}
