.table {
    display: inline;
    border-spacing: 2px;
}


.roster {
    width: fit-content;
}


.th {
    background-color: rgba(128, 128, 128, 0.39);
    width: 200px;
}

.td {
    background-color: rgba(0, 128, 0, 0.562);
    width: fill;
}


.tdNotCheckedIn {
    background-color:rgb(220,220,220);
    width: fill;
}

.bustable {
    border-spacing: 2px;
    margin-bottom: 0.5vh;
}

.busth {
    width: 202px;
    background-color: rgba(0, 0, 255, 0.349);
    color: white;
}