.toolbar {
    border-bottom: 1px solid black;
}

.table {
    display: inline;
    border-spacing: 2px;
}


.roster {
    width: fit-content;
}


.th {
    background-color: rgba(128, 128, 128, 0.39);
    width: 200px;
    /* border-right: 10px solid white; */
}

.td {
    background-color: rgba(0, 128, 0, 0.562);
    width: fill;
    /* border-right: 10px solid white; */
}

.bustable {
    border-spacing: 2px;
}

.busth {
    width: 202px;
    background-color: rgba(0, 0, 255, 0.349);
    color: white;
}