.table {
  padding: 0.5px;
  border: 0.5px solid #bdbdbd;
  flex: 1;
  margin: 0px 8px;
}

.th {
  background-color: #bdbdbd;
  font-weight: normal;
  padding: 3px;
}

.td {
  background-color: #6fcf97;
  width: fill;
  padding: 3px;
  display: flex;
  justify-content: space-between;
}

.checkedIn {
  color: #27ae60;
  margin-top: 3px;
  margin-right: 3px;
}

.busAtCap {
  background-color: #2d9cdb;
  color: white;
}

.busth {
  margin: 0px 8px;
  background-color: #2d9cdb;
  padding: 3px 5px;
  /* background-color: #bdbdbd; */
  color: black;
  font-weight: normal;
  flex: 1;
}

.schoolsTable {
  display: flex;
  padding-top: 8px;
  align-items: flex-start;
}

.busTable {
  padding-bottom: 3px;
  display: flex;
}

.oddRow {
  background-color: #efefef;
}

.evenRow {
  background-color: #f8f8f8;
}
